{% extends 'base.html' %}
{% load static %}
{% load cloudinary_filters %}
{% block title %}Portfolio - Proyecto + Hogar{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Nuestro Portfolio</h1>
    <div class="row">
        {% for project in projects %}
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <a href="{% url 'project_detail' project.id %}">
                {% if project.images.first %}
                <!-- Use Cloudinary to generate a thumbnail dynamically -->
                <img src="{{ project.images.first.image|cloudinary_thumbnail }}" class="img-fluid rounded-corners" alt="{{ project.title }}">
                {% else %}
                <!-- Fallback if no image is available -->
                <img src="{% static 'images/placeholder.png' %}" class="img-fluid rounded-corners" alt="No Image Available">
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
